@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "roboto",sans-serif;
    background: #7523d3
    }
.container{
    width: 250px; 
    height: 380px; 
    background-color: white;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    border-radius: 10px
}
.anonymous{
    width: 90px;
    height: auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
h3{
    font-size: 20px; 
    color: gray;
    margin-top: 15px
}
h5{
    font-weight: 400;
    margin: 8px;
    color: #b7adb2
}
p{
    font-size: 14px;
    margin-top: 15px;
    color: #b7adb2
}
button{ 
    all: unset;
    width: 180px;
    height: 30px;
    margin-top: 20px;
    border-radius: 20px;
    background-color:#1e8bc2;
    border-color: #1e8bc2
}
button a{
    color: white; 
    text-decoration: none
}
.social{ 
    margin: 15px;
}
span{
    color: white;
}
.facebook,
.youtube,
.codepen,
.telegram{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    font-size: 23px
}
.facebook{background-color: #35548f;}
.youtube{background-color: red;}
.codepen{background-color: #374249;}
.telegram{background-color: red;}
