*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #61a1dd;
    font-family: sans-serif;
}
.container{
    width: 280px;
    height: 500px; 
    margin: auto;
    text-align: center; 
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
    margin-top: 100px;
}

.image{
    height: 180px; 
    background: linear-gradient(to top right, #5c9fde, #0584fb);
}
h3{
    margin-top: 40px; 
    color: #6c6e6c; 
    text-transform: uppercase;
}
span{
    color: #babbba;
    display: inline-block;
    margin-top: 8px;
}
.social{
    width: 100%; 
    height: 40px; ;
    margin-top: 25px;
}
.social a i{
    font-size: 25px; 
    padding: 10px; 
    color: #6c6e6c; 
}
.social a i:hover{color:#61a1dd;}
img{
    width: 110px; 
    height: 110px;
    border-radius: 50%; 
    margin-top: 33px;
}
p{
    margin-top: 20px; 
    color: #7b8696;
}
.message{
    text-decoration: none; 
    color:white;
    width: 140px; 
    height: 45px; 
    background: linear-gradient(to top right, #5c9fde, #0584fb); 
    display: inline-block; 
    margin-top: 30px; 
    padding-top: 12px; 
    border-radius: 30px;
}